<div>
  <h1>test1</h1>
  <p>wilkommen</p>
  <div style="color: blue;">form1test</div>
  <h1>{{title}}</h1>
  <form>
    enter name: <input type="text" name="cname" [(ngModel)]="cname"/><br>
    <p>your name is : {{cname}}</p>
    <input type = "submit" value= "login" class="btn btn-primary"/>
  </form>

  <div>

    <br>
    
    <label for="canSave">italic:
    
    <input id="canSave" type="checkbox" [(ngModel)]="canSave">
    
    </label> |
    
    <label for="isUnchanged">normal:
    
    <input id="isUnchanged" type="checkbox" [(ngModel)]="isUnchanged">
    
    </label> |
    
    <label for="isSpecial">xlarge:
    
    <input id="isSpecial" type="checkbox" [(ngModel)]="isSpecial">
    
    </label>
    
    <button type="button" (click)="setCurrentStyles()">Refresh currentStyles</button>
    
    <br><br>
    
    <div [ngStyle]="currentStyles">
    
    This div should be {{ canSave? "italic": "plain"}},
    
    {{ isUnchanged? "normal weight": "bold" }} and,
    
    {{ isSpecial? "extra large": "normal size"}} after clicking "Refresh".
    
    </div>
    
    <hr>
</div>